body {
  align-content: center;
  background-color: #f7fbf7;
  color: #333333;
}
hr {
  padding: 1px;
  border-color: #aaaaaa;
  border-width: 6px;
  width: 60px;
  border-style: dotted none none;
}
h1, h3 {
  color: #66bfbf;
}
h4 {
  display: inline;
  margin-right: 8px;
}
